



@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.container {
	width: 1080px;
	height: 1920px;
	display: flex;
    flex-direction: column;
    background-color: #503830; 
}

.c-row {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.row-1{
    
    display:flex;
    flex:4;
    flex-direction: column;
    
}

.row-2{
    flex:2;
    display:flex;
    flex-direction: row;
    margin-top : 30px;
    margin-left: 40px;
    margin-right: 40px;
    
}
.logo-style {
	height: 135px;
	width:135px;
	background-color: #2b2b2b;
	display: flex;
	align-items: center;
  justify-content: center;
  align-self: center;
	flex: 1;
  position: absolute;
  border: 5px solid #9e591e ;
  border-radius: 50%; /* 50% */
}

.logo {
	font-family: "Open Sans", sans-serif;
	font-size: 39px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.18;
	color: #ffffff;
}
/*
.line{
    margin-top: 50px;
    width: 970px;
    height: 15px;
    background-color: #9e591e;
    border: solid 1px #63ac9a;
    align-self: center;
    
}
*/
.img-1 {
    margin: 3px 0 2.2px;
    
    
    
    display: flex;
    flex:1;
  }

.sub-row{
    flex:1;
    display:flex;
    flex-direction: row;
    margin-bottom: 3px;
}

.text{

    display: flex;
    flex-direction: column;
    align-self: flex-start;
    flex:2;
}

.outer-text-style {
    
    font-family: 'Lato', sans-serif;
    font-size: 45px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
    margin-bottom: 10px;
  }
.inner-text-style{
  max-width: 60%;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #d0813f;
  margin-bottom: 10px;
}

.price{
  margin-right: 100px;
  font-family: 'Roboto', sans-serif;
  font-size: 55px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
}

.content-wrapper{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    
    flex:1;
    min-height: 100%;
}
.option{
    
    font-family: 'Lato', sans-serif;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    display:flex;
    
    align-self: center;
    justify-content: center;
    flex:1;
    min-width: 100%;
    
  }
.content{
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  text-align: center;
  color: #d0813f;
  
  align-self: center;
  justify-content: center;
  display:flex;
  flex:1;
  max-width: 60%;
}

.img-first{
  
  align-self: center;
  display:flex;
    align-self: center;
    flex:3;
}

.price-second{
        font-family: 'Roboto', sans-serif;
        font-size: 40px;
        text-align: center;
        color: #ffffff;
        display:flex;
    align-self: center;
    flex:1;
    margin-top: 20px;
    margin-bottom: 60px;

}

.top-line{
  margin-top: 20px;
  display:flex;
  justify-content: center;
  align-items: flex-start;
  
  object-fit: contain;
  flex:0.5;
  
  
}

.left-line {
  display:flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 1920px;
  min-width: 1080px;
  flex-direction: row;
  object-fit: contain;
  position: absolute;
  margin-left: 10px;
  
  
}

.right-line{
  
  display:flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 1920px;
  min-width: 1070px;
  flex-direction: row;
  object-fit: contain;
  position: absolute;
  
  
}

.bottom-line {
  display:flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 1910px;
  min-width: 1080px;
  flex-direction: row;
  object-fit: contain;
  position: absolute;
  
}
.transition-line{
  display: flex;
  justify-content: center;
  
  object-fit: contain;
  
}

.row2-img{
  display:flex;
  object-fit: contain;
  align-self: center;
  
  align-items: flex-end;
  height: 200px;
  
}

.images{
  
  object-fit: contain;
  display: flex;
  flex:1;
  align-self: center;
  justify-content: center;
  margin-left:40px ;
}


